/runtime
/.idea
/.vscode
/vendor
*.log
.env
/tests/tmp
/tests/.phpunit.result.cache
/build
/z-example
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lzma
*.tar.lz
*.tar.Z
*.tar.bz
*.tar.bz2
*.tar.xz
*.tar.lzma
