/* html,
body {
  font-size: 16px;
  font-family: "微软雅黑", "Microsoft YaHei", "Hiragino Sans GB", SimHei, Tahoma, "宋体b8b体", SimSun, sans-serif;
  color: #333;
  background: #f8f8f8;
}
a {
  text-decoration: none;
  cursor: pointer;
}
p {
  margin: 0;
  padding: 0;
}
img {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
button {
  border: 0;
  outline: none;
  cursor: pointer;
}
input,
select,
textarea {
  outline: none;
  border: none;
  background: none;
} */
.top {
  width: 100%;
  height: 50px;
  line-height: 50px;
}
.clearfix {
  zoom: 1;
  clear: both;
  margin: 0 auto;
  overflow: hidden;
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-f {
  color: #fff;
}
.text-3 {
  color: #333;
}
.text-4 {
  color: #444;
}
.text-6 {
  color: #666;
}
.text-7 {
  color: #777;
}
.text-9 {
  color: #999;
}
.text-blue {
  color: #15b9ff;
}
.text-green {
  color: #00be78;
}
.text-b7 {
  color: #b7b7b7;
}
.text-pink {
  color: #ff6d6f;
}
.text-orange {
  color: #ff5200;
}
.bg-blue {
  background-color: #15b9ff;
}
.bg-orange {
  background-color: #ff5200;
}
.bg-f4 {
  background-color: #f4f4f4;
}
.bg-f {
  background-color: #fff;
}
.border-b {
  border-bottom: 1px solid #f4f4f4;
}
.ftn8 {
  font-size: 8px !important;
}
.ftn10 {
  font-size: 10px !important;
}
.ftn12 {
  font-size: 12px !important;
}
.ftn13 {
  font-size: 13px !important;
}
.ftn14 {
  font-size: 14px !important;
}
.ftn16 {
  font-size: 16px !important;
}
.ftn18 {
  font-size: 18px !important;
}
.ftn20 {
  font-size: 20px !important;
}
.ftn22 {
  font-size: 22px !important;
}
.ftn24 {
  font-size: 24px !important;
}
.ftn26 {
  font-size: 26px !important;
}
.ftn28 {
  font-size: 28px !important;
}
.ftn30 {
  font-size: 30px !important;
}
.ftn36 {
  font-size: 36px !important;
}
.font-weight {
  font-weight: bold;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-cloumn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.flex-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.flex-align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.gap-1 {
  gap: 1px;
}
.gap-2 {
  gap: 2px;
}
.gap-3 {
  gap: 3px;
}
.gap-5 {
  gap: 5px;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-20 {
  gap: 20px;
}
.p-5 {
  padding: 5px;
}
.p-t-5 {
  padding-top: 5px;
}
.p-b-5 {
  padding-bottom: 5px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.p-l-5 {
  padding-left: 5px;
}
.p-r-5 {
  padding-right: 5px;
}
.p-l-10 {
  padding-left: 10px;
}
.p-r-10 {
  padding-right: 10px;
}
.p-t-10 {
  padding-top: 10px;
}
.p-b-10 {
  padding-bottom: 10px;
}
.p-l-15 {
  padding-left: 15px;
}
.p-r-15 {
  padding-right: 15px;
}
.p-t-15 {
  padding-top: 15px;
}
.p-b-15 {
  padding-bottom: 15px;
}
.p-b-60 {
  padding-bottom: 60px;
}
.p-l-20 {
  padding-left: 20px;
}
.m-5 {
  margin: 5px;
}
.m-10 {
  margin: 10px;
}
.m-15 {
  margin: 15px;
}
.m-20 {
  margin: 20px;
}
.m-b-5 {
  margin-bottom: 5px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-b-15 {
  margin-bottom: 15px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-b-30 {
  margin-bottom: 30px;
}
.m-b-40 {
  margin-bottom: 40px;
}
.m-b-50 {
  margin-bottom: 50px;
}
.m-b-60 {
  margin-bottom: 60px;
}
.m-l-10 {
  margin-left: 10px;
}
.m-l-20 {
  margin-left: 20px;
}
.m-r-20 {
  margin-right: 20px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-r-5 {
  margin-right: 5px;
}
.m-t-15 {
  margin-top: 15px;
}
.padded-t-20 {
  padding-top: 20px;
}
.padded-b-20 {
  padding-bottom: 20px;
}
.p-t-10 {
  padding-top: 10px;
}
.p-b-10 {
  padding-bottom: 10px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.fix-width {
  position: relative;
  min-height: 100%;
  min-width: 1200px;
}
.row {
  max-width: 1200px;
  margin: 0 auto;
}
.row-discount {
  position: relative;
}
.w-870 {
  width: 870px;
}
@-webkit-keyframes showNav {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showNav {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
 